Repository FGA0138-MDS-Ajax/2023-2-ANTARES, pull requests merged in 2023-11, with the labels that each got.

#18 Feature front/feed
  README.md
  backend-antares/.env
  backend-antares/.gitignore
  backend-antares/package-lock.json
  backend-antares/package.json
  backend-antares/src/app.js
  backend-antares/src/controllers/usuarioController.js
  backend-antares/src/db/conn.js
  backend-antares/src/models/Usuario.js
  backend-antares/src/routes/router.js
  backend-antares/src/routes/usuarios.js
  backend-antares/src/server.js
  frontend-antares/src/components/ModalComponentFeed.vue
  frontend-antares/src/layouts/MainLayout.vue
  frontend-antares/src/pages/FeedPage.vue
  frontend-antares/src/pages/PublicarVagasPage.vue
  frontend-antares/src/router/routes.ts
Labels: FRONT

#22 cria reset de senha por email
  backend-antares/.env
  backend-antares/.gitignore
  backend-antares/package-lock.json
  backend-antares/package.json
  backend-antares/src/app.js
  backend-antares/src/controllers/usuarioController.js
  backend-antares/src/db/conn.js
  backend-antares/src/models/Usuario.js
  backend-antares/src/routes/router.js
  backend-antares/src/routes/usuarios.js
  backend-antares/src/server.js
  frontend-antares/index.html
  frontend-antares/package-lock.json
  frontend-antares/package.json
  frontend-antares/src/boot/axios.ts
  frontend-antares/src/composables/UseLoginApi.ts
  frontend-antares/src/css/app.scss
  frontend-antares/src/layouts/LoginLayout.vue
  frontend-antares/src/services/LoginService.ts
Labels: FRONT

#23 backend resetar senha
  backend-antares/src/controllers/usuarioController.js
  backend-antares/src/routes/usuarios.js
Labels: BACK, DATABASE

#26 Funcao busca todas as vagas do feed
  backend-antares/package-lock.json
  backend-antares/src/controllers/feedController.js
  backend-antares/src/routes/feed.js
  backend-antares/src/routes/router.js
Labels: BACK, DATABASE

#24 Feature/back/publicar vagas
  backend-antares/package-lock.json
  backend-antares/package.json
  backend-antares/src/controllers/usuarioController.js
  backend-antares/src/controllers/vagasController.js
Labels: BACK, DATABASE

#27 Feature front/integracao feed
  frontend-antares/src/assets/imgs/home-img.png
  frontend-antares/src/composables/UseFeedApi.ts
  frontend-antares/src/layouts/MainLayout.vue
  frontend-antares/src/pages/FeedPage.vue
  frontend-antares/src/pages/IndexPage.vue
  frontend-antares/src/services/FeedService.ts
Labels: FRONT

#28 Feature front/integracao feed
  frontend-antares/src/components/ModalComponentFeed.vue
  frontend-antares/src/css/app.scss
  frontend-antares/src/pages/FeedPage.vue
Labels: FRONT

#29 cria paginacao no backend
  backend-antares/src/controllers/feedController.js
  backend-antares/src/routes/feed.js
Labels: BACK

#30 integra paginação feed
  frontend-antares/src/composables/UseFeedApi.ts
  frontend-antares/src/pages/FeedPage.vue
Labels: FRONT
